Repository Josmateussilva0110/EVOLVERE_PDSI, pull requests merged in 2025-05, with the labels that each got.

#37 feat: login implementado
  README.md
  backend/controllers/UserController.js
  backend/index.js
  backend/models/User.js
  frontend/lib/features/user/tela_login/components/login_form.dart
Labels: Backend

#42 feat: buscas em categorias
  backend/controllers/categoryController.js
  backend/models/Category.js
  backend/models/User.js
  backend/routes/routes.js
Labels: Backend

#43 feat: tela de cadastro de habitos
  backend/package.json
  frontend/lib/features/Habits/Screens/Tela_Frequencia/Tela_Frequencia.dart
  frontend/lib/features/Habits/Screens/Tela_Habitos/tela_habitos.dart
  frontend/lib/features/Habits/Screens/Tela_Prazo/tela_Prazo.dart
  frontend/lib/features/Habits/components/Tela_Frequencia/frequency_option.dart
  frontend/lib/features/Habits/components/Tela_Frequencia/month_days_picker_widget.dart
  frontend/lib/features/Habits/components/Tela_Frequencia/navigation_dots.dart
  frontend/lib/features/Habits/components/Tela_Frequencia/period_picker_widget.dart
  frontend/lib/features/Habits/components/Tela_Frequencia/repeat_picker_widget.dart
  frontend/lib/features/Habits/components/Tela_Frequencia/week_days_picker_widget.dart
  frontend/lib/features/Habits/components/Tela_Frequencia/year_days_picker_widget.dart
  frontend/lib/features/Habits/components/Tela_Habitos/category_button.dart
  frontend/lib/features/Habits/components/Tela_Habitos/habit_text_field.dart
  frontend/lib/features/Habits/themes/Tela_Frequencia/calendar_options/week_days_calendar.dart
  frontend/lib/features/Habits/themes/Tela_Frequencia/frequency_theme.dart
  frontend/lib/features/Habits/themes/Tela_Habitos/habits_theme.dart
  frontend/lib/features/Habits/widgets/Tela_Frequencia/frequency_pickers.dart
  frontend/lib/features/Habits/widgets/Tela_Habitos/category_grid.dart
  frontend/lib/features/initial/screens/welcome_screen.dart
  frontend/lib/main.dart
  frontend/pubspec.yaml
Labels: Frontend

#44 Rai leal
  frontend/lib/features/home/home_screen.dart
  frontend/lib/features/home/tela_perfil.dart
  frontend/lib/features/initial/screens/welcome_screen.dart
  frontend/lib/main.dart
Labels: Frontend

#45 feat: integração em cadastro de categoria
  .gitignore
  backend/controllers/categoryController.js
  backend/index.js
  backend/models/Category.js
  backend/package-lock.json
  backend/package.json
  frontend/lib/features/Habits/Screens/Tela_Prazo/tela_Prazo.dart
  frontend/lib/features/initial/screens/welcome_screen.dart
  frontend/lib/features/user/register_category/components/register_category_form.dart
  frontend/lib/main.dart
Labels: Integração/frontend-backend

#46 feat: configurações para .env adicionada
  backend/migrations/20250502220247_tabela_categoria.js
  frontend/lib/features/user/register_category/components/register_category_form.dart
  frontend/lib/features/user/register_user/components/register_form.dart
  frontend/lib/features/user/tela_login/components/login_form.dart
  frontend/lib/main.dart
  frontend/pubspec.yaml
Labels: Backend

#50 refactor: tela prazo
  README.md
  frontend/lib/features/Habits/Tela_Prazo/tela_Prazo.dart
  frontend/lib/features/Habits/components/navigation.dart
  frontend/lib/features/Habits/frequency_screen/screens/frequency_screen.dart
  frontend/lib/features/Habits/limit_screen/components/limit_period_form.dart
  frontend/lib/features/Habits/limit_screen/screens/limit_period.dart
  frontend/lib/features/Habits/limit_screen/widgets/option_button.dart
  frontend/lib/main.dart
Labels: Frontend

#52 feat: cria telas de início e listagem de hábitos
  frontend/assets/images/new_initial/image 5.png
  frontend/lib/features/listHabits/controllers/habits_list_controller.dart
  frontend/lib/features/listHabits/main.dart
  frontend/lib/features/listHabits/pages/habits_list_page.dart
  frontend/lib/features/listHabits/widgets/filter_chips.dart
  frontend/lib/features/listHabits/widgets/new_habit_button.dart
  frontend/lib/features/listHabits/widgets/search_bar.dart
  frontend/lib/features/new_initial/components/components.dart
  frontend/lib/features/new_initial/components/custom_button.dart
  frontend/lib/features/new_initial/main.dart
  frontend/lib/features/new_initial/themes/themes.dart
  frontend/lib/features/new_initial/widgets/widgets.dart
  frontend/lib/main.dart
  frontend/pubspec.yaml
Labels: Frontend

#53 feat: fluxo de execução do sistema
  .gitignore
  backend/public/uploads/.gitkeep
  frontend/lib/features/Habits/frequency_screen/screens/frequency_screen.dart
  frontend/lib/features/home/home_screen.dart
  frontend/lib/features/initial/components/components.dart
  frontend/lib/features/initial/components/custom_button.dart
  frontend/lib/features/initial/screens/welcome_screen.dart
  frontend/lib/features/initial/themes/themes.dart
  frontend/lib/features/initial/widgets/logo_header.dart
  frontend/lib/features/initial/widgets/welcome_buttons.dart
  frontend/lib/features/initial/widgets/welcome_footer.dart
  frontend/lib/features/initial/widgets/widgets.dart
  frontend/lib/features/listHabits/main.dart
  frontend/lib/features/listHabits/pages/habits_list_page.dart
  frontend/lib/features/new_initial/main.dart
  frontend/lib/features/new_initial/widgets/widgets.dart
  frontend/lib/features/register_category/components/category_list.dart
  frontend/lib/features/register_category/components/register_category_form.dart
  frontend/lib/features/register_category/models/category.dart
  frontend/lib/features/register_category/screens/categorie_screen.dart
  frontend/lib/features/register_category/screens/list_category_screen.dart
  frontend/lib/features/register_category/services/category_service.dart
  frontend/lib/features/register_category/widgets/category_list_item.dart
  frontend/lib/features/register_category/widgets/color_selector.dart
  frontend/lib/features/register_category/widgets/icon_picker.dart
  frontend/lib/features/user/register_user/screens/user_screen.dart
  frontend/lib/features/user/tela_login/components/login_form.dart
  frontend/lib/features/user/tela_login/screens/login_screen.dart
  frontend/lib/features/user/widgets/footer.dart
  frontend/lib/main.dart
Labels: Frontend

#62 feat: novas informações no readme e melhoria no .gitignore
  .gitignore
  README.md
  backend/controllers/habitController.js
  backend/middleware/AdminAuth.js
  backend/migrations/20250510100635_habits_table.js
  backend/models/Category.js
  backend/models/Habit.js
  backend/public/uploads/1747621284867.jpg
  backend/public/uploads/1747766197582.jpg
  backend/public/uploads/1747768053320.jpg
  backend/public/uploads/1747858211027.jpg
  backend/routes/routes.js
  frontend/lib/features/Habits/frequency_screen/components/frequency_form.dart
  frontend/lib/features/Habits/frequency_screen/screens/frequency_screen.dart
  frontend/lib/features/Habits/frequency_screen/widgets/period_picker_widget.dart
  frontend/lib/features/Habits/frequency_screen/widgets/repeat_picker_widget.dart
  frontend/lib/features/Habits/habit_screen/components/habit_form.dart
  frontend/lib/features/Habits/habit_screen/screens/habits_screens.dart
  frontend/lib/features/Habits/habit_screen/widgets/category_grid.dart
  frontend/lib/features/Habits/limit_screen/components/limit_period_form.dart
  frontend/lib/features/Habits/limit_screen/screens/limit_period.dart
  frontend/lib/features/Habits/model/HabitData.dart
  frontend/lib/features/Habits/services/category_service.dart
  frontend/lib/features/Habits/services/habit_service.dart
  frontend/lib/features/register_category/components/category_list.dart
  frontend/lib/features/register_category/components/register_category_form.dart
  frontend/lib/features/register_category/screens/list_category_screen.dart
  frontend/lib/features/register_category/widgets/category_list_item.dart
  frontend/lib/main.dart
  frontend/pubspec.yaml
Labels: Integração/frontend-backend

#65 feat: filtragem de hábitos por categoria
  backend/controllers/categoryController.js
  backend/controllers/habitController.js
  backend/migrations/20250523210322_habit_table.js
  backend/migrations/20250523210759_alter_habits_add_foreign_key.js
  backend/models/Category.js
  backend/models/Habit.js
  backend/public/uploads/1747621284867.jpg
  backend/public/uploads/1747766197582.jpg
  backend/public/uploads/1747768053320.jpg
  backend/public/uploads/1747858211027.jpg
  backend/routes/routes.js
  frontend/lib/features/Habits/frequency_screen/components/frequency_form.dart
  frontend/lib/features/Habits/habit_screen/components/habit_form.dart
  frontend/lib/features/Habits/habit_screen/screens/habits_screens.dart
  frontend/lib/features/Habits/habit_screen/widgets/category_button.dart
  frontend/lib/features/Habits/habit_screen/widgets/category_grid.dart
  frontend/lib/features/Habits/limit_screen/screens/limit_period.dart
  frontend/lib/features/Habits/model/HabitData.dart
  frontend/lib/features/Habits/services/category_service.dart
  frontend/lib/features/Habits/services/habit_service.dart
  frontend/lib/features/home/home_screen.dart
  frontend/lib/features/listHabits/model/CategoryModel.dart
  frontend/lib/features/listHabits/model/HabitModel.dart
  frontend/lib/features/listHabits/pages/habits_list_page.dart
  frontend/lib/features/listHabits/screens/habits_list_screen.dart
  frontend/lib/features/listHabits/services/list_categories_service.dart
  frontend/lib/features/listHabits/services/list_habits_service.dart
  frontend/lib/features/listHabits/widgets/habit_card.dart
  frontend/lib/features/listHabits/widgets/habit_options_menu.dart
  frontend/lib/features/listHabits/widgets/search_bar.dart
  frontend/lib/features/register_category/components/register_category_form.dart
  frontend/lib/main.dart
Labels: Integração/frontend-backend

#68 feat: arquivar habitos funcionando no frontend
  backend/controllers/habitController.js
  backend/models/Habit.js
  backend/routes/routes.js
  frontend/lib/features/home/home_screen.dart
  frontend/lib/features/listHabits/screens/habits_list_screen.dart
  frontend/lib/features/listHabits/services/list_habits_service.dart
  frontend/lib/features/listHabits/widgets/archived_habits.dart
  frontend/lib/features/listHabits/widgets/confirm_action_dialog.dart
  frontend/lib/features/listHabits/widgets/habit_card.dart
Labels: Integração/frontend-backend
