Repository Josmateussilva0110/EVOLVERE_PDSI, pull requests merged in 2025-06, with the labels that each got.

#69 feat: edição de habito funcionando no front
  backend/controllers/categoryController.js
  backend/controllers/habitController.js
  backend/models/Category.js
  backend/models/Habit.js
  backend/package-lock.json
  backend/package.json
  backend/routes/routes.js
  backend/utils/format_date.js
  frontend/lib/features/Habits/frequency_screen/components/frequency_form.dart
  frontend/lib/features/Habits/frequency_screen/screens/frequency_screen.dart
  frontend/lib/features/Habits/habit_screen/components/habit_form.dart
  frontend/lib/features/Habits/habit_screen/screens/habits_screens.dart
  frontend/lib/features/Habits/habit_screen/widgets/category_grid.dart
  frontend/lib/features/Habits/habit_screen/widgets/habit_text_field.dart
  frontend/lib/features/Habits/limit_screen/components/limit_period_form.dart
  frontend/lib/features/Habits/limit_screen/screens/limit_period.dart
  frontend/lib/features/Habits/model/HabitData.dart
  frontend/lib/features/Habits/services/habit_service.dart
  frontend/lib/features/listHabits/model/HabitModel.dart
  frontend/lib/features/listHabits/screens/habits_list_screen.dart
  frontend/lib/features/listHabits/services/list_categories_service.dart
  frontend/lib/features/listHabits/services/list_habits_service.dart
  frontend/lib/features/listHabits/widgets/habit_card.dart
  frontend/lib/features/register_category/components/register_category_form.dart
  frontend/lib/main.dart
Labels: Integração/frontend-backend

#71 feat:registro de progresso e finalização de hábitos
  .vscode/settings.json
  frontend/lib/features/habit_completion/screens/finish_habit_screen.dart
  frontend/lib/features/listHabits/models/history_record.dart
  frontend/lib/features/listHabits/screens/add_goal_screen.dart
  frontend/lib/features/listHabits/screens/goal_settings_screen.dart
  frontend/lib/features/listHabits/screens/progress_record_screen.dart
  frontend/lib/features/listHabits/widgets/chart_type_icon.dart
  frontend/lib/features/listHabits/widgets/habit_card.dart
  frontend/lib/features/listHabits/widgets/habit_options_menu.dart
  frontend/lib/features/listHabits/widgets/period_chip.dart
  frontend/lib/features/listHabits/widgets/show_history_bottom_sheet.dart
  frontend/lib/features/listHabits/widgets/stat_card.dart
  frontend/lib/main.dart
  frontend/pubspec.yaml
Labels: Frontend

#72 feat: retornando nome de usuário para home
  backend/controllers/UserController.js
  frontend/lib/features/habit_completion/screens/finish_habit_screen.dart
  frontend/lib/features/home/home_screen.dart
  frontend/lib/features/home/profile_screen.dart
  frontend/lib/features/listHabits/models/CategoryModel.dart
  frontend/lib/features/listHabits/models/HabitModel.dart
  frontend/lib/features/listHabits/screens/habits_list_screen.dart
  frontend/lib/features/listHabits/screens/progress_record_screen.dart
  frontend/lib/features/listHabits/services/list_categories_service.dart
  frontend/lib/features/listHabits/services/list_habits_service.dart
  frontend/lib/features/listHabits/widgets/archived_habits.dart
  frontend/lib/features/listHabits/widgets/chart_type_icon.dart
  frontend/lib/features/listHabits/widgets/habit_card.dart
  frontend/lib/features/listHabits/widgets/search_bar.dart
  frontend/lib/features/user/screens/edit_profile_screen.dart
  frontend/lib/features/user/tela_login/components/login_form.dart
  frontend/lib/main.dart
Labels: Frontend

#76 Basicamente modificações na categoria
  .vscode/settings.json
  frontend/lib/features/register_category.zip
  frontend/lib/features/register_category/components/archived_category_modal.dart
  frontend/lib/features/register_category/screens/CategoryDetailScreen.dart
  frontend/lib/features/register_category/screens/list_category_screen.dart
  frontend/lib/features/register_category/services/category_service.dart
  frontend/lib/features/register_category/widgets/category_list_item.dart
Labels: Frontend

#82 feat(ui): novas telas e melhorias visuais (login, cadastro, termos, categorias, finalização, esqueceu senha)
  frontend/assets/fonts/OFL.txt
  frontend/assets/fonts/Pacifico-Regular.ttf
  frontend/lib/features/Habits/habit_screen/widgets/category_button.dart
  frontend/lib/features/components/auth_header.dart
  frontend/lib/features/components/logo_dialog.dart
  frontend/lib/features/components/neon_background.dart
  frontend/lib/features/components/welcome_neon_background.dart
  frontend/lib/features/explanation/screens/explanation_screen.dart
  frontend/lib/features/habit_completion/screens/finish_habit_screen.dart
  frontend/lib/features/home/home_screen.dart
  frontend/lib/features/home/profile_screen.dart
  frontend/lib/features/home/widgets/habit_tile_widget.dart
  frontend/lib/features/home/widgets/stat_card_widget.dart
  frontend/lib/features/initial/widgets/widgets.dart
  frontend/lib/features/register_category/components/register_category_form.dart
  frontend/lib/features/register_category/screens/categorie_screen.dart
  frontend/lib/features/register_category/widgets/color_selector.dart
  frontend/lib/features/register_category/widgets/icon_picker.dart
  frontend/lib/features/settings/screens/settings_screen.dart
  frontend/lib/features/user/components/custom_top_curve.dart
  frontend/lib/features/user/register_user/components/register_form.dart
  frontend/lib/features/user/register_user/components/terms_checkbox.dart
  frontend/lib/features/user/register_user/components/terms_dialog.dart
  frontend/lib/features/user/register_user/screens/user_screen.dart
  frontend/lib/features/user/screens/edit_profile_screen.dart
  frontend/lib/features/user/tela_inicial/screens/initial_screen.dart
  frontend/lib/features/user/tela_login/components/login_form.dart
  frontend/lib/features/user/tela_login/screens/forgot_password_screen.dart
  frontend/lib/features/user/tela_login/screens/login_screen.dart
  frontend/lib/features/user/tela_login/widgets/login_options.dart
  frontend/lib/features/user/tela_login/widgets/logo_dialog.dart
  frontend/lib/features/user/widgets/footer.dart
  frontend/lib/features/user/widgets/form_container.dart
  frontend/lib/features/user/widgets/password_field.dart
  frontend/lib/features/user/widgets/password_strength_indicator.dart
  frontend/lib/features/user/widgets/text_field.dart
  frontend/lib/main.dart
  frontend/pubspec.yaml
Labels: Frontend

#86 feat: service para registro de progresso
  .vscode/settings.json
  backend/controllers/habitController.js
  backend/migrations/20250614192100_progress_table.js
  backend/models/Habit.js
  backend/routes/routes.js
  frontend/lib/features/habit_completion/components/finish_habit_form.dart
  frontend/lib/features/habit_completion/model/Finish_habit_model.dart
  frontend/lib/features/habit_completion/screens/finish_habit_screen.dart
  frontend/lib/features/habit_completion/service/finish_habit_service.dart
  frontend/lib/features/habit_completion/widgets/difficulty_chip.dart
  frontend/lib/features/habit_completion/widgets/location_input.dart
  frontend/lib/features/habit_completion/widgets/mood_option.dart
  frontend/lib/features/habit_completion/widgets/reflection_input.dart
  frontend/lib/features/habit_completion/widgets/time_selector.dart
  frontend/lib/features/home/widgets/top_priorities_widget.dart
  frontend/lib/features/listHabits/screens/add_goal_screen.dart
  frontend/lib/features/listHabits/screens/habits_list_screen.dart
  frontend/lib/features/listHabits/widgets/habit_card.dart
  frontend/lib/features/progress_record/components/name_field.dart
  frontend/lib/features/progress_record/components/parameter_selector_section.dart
  frontend/lib/features/progress_record/components/type_selector_section.dart
  frontend/lib/features/progress_record/model/Progress_record_model.dart
  frontend/lib/features/progress_record/screens/add_goal_screen.dart
  frontend/lib/features/progress_record/screens/goal_settings_screen.dart
  frontend/lib/features/progress_record/screens/progress_record_screen.dart
  frontend/lib/features/progress_record/service/progress_record_service.dart
  frontend/lib/features/progress_record/widgets/interval_selector.dart
  frontend/lib/features/progress_record/widgets/type_selector.dart
Labels: Integração/frontend-backend

#88 fix: funcionalidades que estava pendentes foram ajustadas para a branch principal
  backend/controllers/UserController.js
  backend/models/Habit.js
  backend/models/User.js
  backend/routes/routes.js
  frontend/lib/features/habit_completion/screens/finish_habit_screen.dart
  frontend/lib/features/home/home_screen.dart
  frontend/lib/features/settings/screens/settings_screen.dart
  frontend/lib/features/user/screens/edit_profile_screen.dart
  frontend/lib/features/user/service/user_service.dart
  frontend/lib/features/user/tela_login/components/login_form.dart
  frontend/lib/main.dart
Labels: Integração/frontend-backend

#94 feat: ajusta design das telas de início, login, hábitos e histórico
  backend/package-lock.json
  frontend/lib/features/components/auth_header.dart
  frontend/lib/features/components/minimalist_theme_toggle.dart
  frontend/lib/features/components/modern_theme_toggle.dart
  frontend/lib/features/components/welcome_neon_background.dart
  frontend/lib/features/explanation/screens/explanation_screen.dart
  frontend/lib/features/habit_completion/components/finish_habit_form.dart
  frontend/lib/features/habit_completion/screens/finish_habit_screen.dart
  frontend/lib/features/habit_completion/widgets/difficulty_chip.dart
  frontend/lib/features/habit_completion/widgets/difficulty_mood_selector.dart
  frontend/lib/features/habit_completion/widgets/location_input.dart
  frontend/lib/features/habit_completion/widgets/mood_option.dart
  frontend/lib/features/habit_completion/widgets/time_card.dart
  frontend/lib/features/home/home_screen.dart
  frontend/lib/features/initial/widgets/widgets.dart
  frontend/lib/features/listHabits/models/CategoryModel.dart
  frontend/lib/features/listHabits/screens/habits_list_screen.dart
  frontend/lib/features/listHabits/services/list_habits_service.dart
  frontend/lib/features/listHabits/widgets/archived_habits.dart
  frontend/lib/features/listHabits/widgets/filter_chips.dart
  frontend/lib/features/listHabits/widgets/habit_card.dart
  frontend/lib/features/listHabits/widgets/search_bar.dart
  frontend/lib/features/listHabits/widgets/show_history_bottom_sheet.dart
  frontend/lib/features/register_category/screens/edit_category_screen.dart
  frontend/lib/features/settings/screens/settings_screen.dart
  frontend/lib/features/user/register_user/components/register_form.dart
  frontend/lib/features/user/register_user/components/terms_checkbox.dart
  frontend/lib/features/user/screens/edit_profile_screen.dart
  frontend/lib/features/user/tela_login/components/login_form.dart
  frontend/lib/features/user/tela_login/screens/forgot_password_screen.dart
  frontend/lib/features/user/tela_login/screens/login_screen.dart
  frontend/lib/features/user/tela_login/widgets/login_options.dart
  frontend/lib/features/user/widgets/footer.dart
  frontend/lib/features/user/widgets/form_container.dart
  frontend/lib/features/user/widgets/password_field.dart
  frontend/lib/features/user/widgets/password_strength_indicator.dart
  frontend/lib/features/user/widgets/text_field.dart
  frontend/lib/main.dart
Labels: Frontend

#96 feat: service para buscar os progressos do habito
  backend/controllers/habitController.js
  backend/models/Habit.js
  backend/routes/routes.js
  frontend/lib/features/progress_record/model/Goal.dart
  frontend/lib/features/progress_record/model/Progress_record_model.dart
  frontend/lib/features/progress_record/screens/add_goal_screen.dart
  frontend/lib/features/progress_record/screens/goal_settings_screen.dart
  frontend/lib/features/progress_record/service/progress_record_service.dart
  frontend/lib/features/progress_record/widgets/action_icon.dart
  frontend/lib/features/progress_record/widgets/goal_actions_bottom_sheet.dart
  frontend/lib/features/progress_record/widgets/goal_card.dart
  frontend/lib/features/progress_record/widgets/goal_header.dart
  frontend/lib/features/progress_record/widgets/goal_progress_info.dart
Labels: Integração/frontend-backend

#97 feat: CRUD completo para o progresso de habito
  backend/controllers/ProgressController.js
  backend/controllers/habitController.js
  backend/migrations/20250624211637_column_status_progress.js
  backend/models/Habit.js
  backend/models/Progress.js
  backend/routes/routes.js
  frontend/lib/features/listHabits/models/HabitModel.dart
  frontend/lib/features/listHabits/screens/habits_list_screen.dart
  frontend/lib/features/listHabits/widgets/archived_habits.dart
  frontend/lib/features/listHabits/widgets/habit_card.dart
  frontend/lib/features/progress_record/model/Goal.dart
  frontend/lib/features/progress_record/screens/add_goal_screen.dart
  frontend/lib/features/progress_record/screens/goal_settings_screen.dart
  frontend/lib/features/progress_record/service/progress_record_service.dart
  frontend/lib/features/progress_record/widgets/goal_actions_bottom_sheet.dart
  frontend/lib/features/progress_record/widgets/goal_card.dart
Labels: Integração/frontend-backend

#98 fix: ajustes nas funções de busca de categorias para que retorne de acordo com o usuário e ajuste em cadastros de hábitos e categorias
  backend/controllers/categoryController.js
  backend/controllers/habitController.js
  backend/migrations/20250625203741_columm_user_id_category.js
  backend/models/Category.js
  backend/models/Habit.js
  backend/routes/routes.js
  frontend/lib/features/Habits/habit_screen/widgets/category_grid.dart
  frontend/lib/features/Habits/services/category_service.dart
  frontend/lib/features/register_category/components/archived_category_modal.dart
  frontend/lib/features/register_category/components/category_list.dart
  frontend/lib/features/register_category/components/register_category_form.dart
  frontend/lib/features/register_category/services/category_service.dart
Labels: Integração/frontend-backend

#99 Tela Notificações
  backend/controllers/NotificationController.js
  backend/controllers/habitController.js
  backend/models/Notification.js
  backend/routes/routes.js
  frontend/lib/features/home/models/notification_model.dart
  frontend/lib/features/home/notifications_screen.dart
  frontend/lib/features/home/services/notification_service.dart
  frontend/lib/features/home/widgets/notification_detail_dialog.dart
  frontend/lib/features/user/tela_login/components/login_form.dart
Labels: Frontend, Backend

#101 Tela de Notificação e demais ajustes
  backend/controllers/NotificationController.js
  backend/controllers/ReminderController.js
  backend/controllers/habitController.js
  backend/index.js
  backend/migrations/20250626235016_colum_status.js
  backend/models/Habit.js
  backend/models/Notification.js
  backend/routes/routes.js
  backend/services/ReminderScheduler.js
  frontend/lib/features/home/home_screen.dart
  frontend/lib/features/home/models/notification_model.dart
  frontend/lib/features/home/notifications_screen.dart
  frontend/lib/features/home/services/notification_service.dart
  frontend/lib/features/home/services/reminder_service.dart
  frontend/lib/features/home/widgets/notification_detail_dialog.dart
Labels: Frontend, Backend, Integração/frontend-backend

#102 adicionei icones e mudei o desing do habit
  frontend/lib/features/Habits/limit_screen/components/limit_period_form.dart
  frontend/lib/features/Habits/limit_screen/screens/limit_period.dart
  frontend/lib/features/register_category/components/register_category_form.dart
  frontend/lib/features/register_category/widgets/category_list_item.dart
  frontend/pubspec.yaml
Labels: Frontend

#104 feat: tela de relatórios
  backend/controllers/ProgressController.js
  backend/controllers/UserController.js
  backend/controllers/habitController.js
  backend/models/Habit.js
  backend/models/Progress.js
  backend/routes/routes.js
  frontend/lib/features/home/home_screen.dart
  frontend/lib/features/reports/screens/BarChart.dart
  frontend/lib/features/reports/screens/LineChart.dart
  frontend/lib/features/reports/screens/PieChart.dart
  frontend/lib/features/reports/screens/graph_screen.dart
  frontend/lib/features/reports/service/reports_service.dart
  frontend/lib/features/settings/screens/settings_screen.dart
  frontend/lib/main.dart
Labels: Frontend, Backend, Integração/frontend-backend
